@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

button {
  cursor: pointer;
}

.bg-column-color{
@apply border dark:border-none dark:bg-cyan-900
}

.bg-card-color {
  @apply bg-gray-300 dark:bg-zinc-800
}

.column-hover-color {
  @apply hover:bg-gray-200 hover:dark:bg-cyan-800
}