@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #171717;
  --title: var(--color-blue-500);
  --card-background-color: #dfdfdf;
}

.theme-dark {
  --background: #171717;
  --foreground: #ededed;
}

/* Use the user's preference for the rest */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
} */
/* Enable manual control of the dark mode to force it on the first page. */
@custom-variant dark (&:where(.dark, .dark *));
.dark {
  --background: #171717;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-black: #171717;
  --color-column-background: #ededed;
  --color-card-background: #dfdfdf;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .animate-floating-1 {
    animation: floating-1 3s ease-in-out infinite;
  }
  .animate-floating-2 {
    animation: floating-2 3s ease-in-out infinite;
  }
  .animate-floating-3 {
    animation: floating-3 3s ease-in-out infinite;
  }

  @keyframes floating-1 {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  @keyframes floating-2 {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(5px);
    }
  }
  @keyframes floating-3 {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(7px);
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

.link {
  @apply text-blue-500 hover:text-blue-700 hover:underline;
}

.bg-column-color {
  @apply border dark:border-none bg-column-background dark:bg-cyan-900 shadow-lg;
}

.bg-card-color {
  @apply bg-card-background dark:bg-zinc-800;
}

.column-hover-color {
  @apply hover:bg-gray-200 hover:dark:bg-cyan-800;
}

.section {
  @apply bg-background p-4 scroll-mt-14;
}

.centered {
  @apply mx-auto flex flex-col w-3/4 gap-4 mt-4;
}

.button {
  @apply rounded-md bg-cyan-950 px-4 py-2 text-sm font-medium 
  text-white shadow-sm hover:bg-cyan-800 focus:outline-none focus:ring-2
   focus:ring-cyan-500 focus:ring-offset-2 cursor-pointer inline-block;
}
h1 {
  @apply dark:text-gray-300 font-bold;
}
section > h1 {
  @apply  dark:text-gray-300;
}
h2 {
  @apply text-2xl dark:text-cyan-500;
}
